body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}


/* =========== Header ========== */

header {
  background: #8c8c8c;
}

.header_inside {
  padding: 25px 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu {
  font-size: 18px;
  text-transform: uppercase;
}

.header_menu_link {
  padding-left: 40px;
  text-decoration: none;
  color: black;
  opacity: .75;

  transition: opacity .1s linear;
}

.header_menu_link:hover {
  opacity: 1;
}

/* ======= first ========== */

.first {
  margin-top: -25px;
  height: 650px;
  background: #fff url("images\\Pirozhki2.jpg") center no-repeat;
  padding: 110px 30%;
}

.title_back {
  background: #db8a5e;
  opacity: .75;
  border-radius: 20px;
  padding: 70px 0;
}

.title {
  font-size: 28px;
  opacity: .95;
  display: flex;
  word-wrap: normal;
  align-items: center;
  justify-content: center;
}

.border {
  padding: 0 30%;
}

.shop_btn_link {
  text-decoration: none;
  color: white;
}

.shop_btn {
  background: #ff5454;
  opacity: .8;
  margin-top: 50px;
  padding: 21px;
  border-radius: 35px;
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
  align-items: center;
  justify-content: center;

  transform: opacity .1s linear;
  transform: background .1s linear;
}

.shop_btn:hover {
  opacity: 1;
  background: #fc3a3a;
}


/* ======= features ========== */


.features {
  font-family: 'Arial';
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;
}

.feat_item {
  padding: 15px;
  width: 33.3333%;
  text-align: center;
  margin: 35px 0;
}


/* ======= footer ========== */

footer {
  padding-top: 70px;
  background: #eebdf0;
  font-family: 'Raleway';
}

.footer_inside {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {
  color: black;
  width: 31%;
}

.italic {
  font-family: 'Arial';
  font-style: italic;
}

.copyright {
  /* ok */
}

.madeby {
  margin-top: 50px;
  font-size: 12px;
  padding-bottom: 20px;
  text-align: right;
  font-style: italic;
}
